<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Covid 19 statistics application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <h1>Covid 19 statistics application</h1>

    <table class="table">
        <tr>
            <th>Province/State</th>
            <th>Country/Region</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="covidStatistic : ${covidStatistics}">
            <td th:text="${covidStatistic.state}"></td>
            <td th:text="${covidStatistic.country}"></td>
            <td th:text="${covidStatistic.totalLatestCases}">0</td>
            <td th:text="${covidStatistic.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>
</body>

</html>